@{
    ViewBag.Title = "authError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">oops!</h1>
<h2 class="text-danger">It looks like you don't have permission to go there. If you think that's a mistake, I'm sure the site administrators would be happy to help you out.</h2>