
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-danger">Page not Found.</h1>
<h2 class="text-danger">Try checking the URL or refreshing the page.</h2>

