@using BikeShare.Models.ViewModel
@model BikeShare.Models.ViewModel.Mail.orgWeeklyReport
<h1>@Model.org.name's Weekly Report</h1>
<h2>Smiles and Frowns</h2>
<p>This week, you had @Model.smileCount smiles and @Model.frownCount frowns.</p>
