@{
    ViewBag.Title = "Unsubscribe Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="glyphicon glyphicon-remove"></span> @ViewBag.Title</h2>
<hr />
<p>Oops! It looks like you didn't enter the right email to unsubscribe. Better luck next time!</p>

