
@{
    ViewBag.Title = "You've successfully Unsubscribed!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="glyphicon glyphicon-ok"></span> @ViewBag.Title</h2>
<hr />
<p>We're sorry to see you go, but hope you'll enjoy the cleaner inbox!</p>

