@{
    ViewBag.Title = "About the RIT Bikeshare";
}
@section menuSection{
    @Html.Partial("_HomeMenuPartial")
}
<h2 role="heading" class="text-center">@ViewBag.Title.</h2>
<hr />
@Html.Raw(ViewBag.aboutHTML)