@{
    ViewBag.Title = "Contact";
}
<h2 role="heading"><span class="glyphicon glyphicon-phone-alt"></span> @ViewBag.Title.</h2>

<p>This site was independently created by Nathan C. Castle, a CS student at RIT.</p>

<address>
    <strong>Email:</strong>   <a href="mailto:nathan.castle@outlook.com">nathan.castle@outlook.com</a><br />
    <strong>Twitter:</strong> <a href="http://www.twitter.com/nathan_c_castle/">Nathan_C_Castle</a>
</address>