@{
    ViewBag.Title = "Contact";
}
@section menuSection{
    @Html.Partial("_HomeMenuPartial")
}
<h2 role="heading" class="text-center">@ViewBag.Title.</h2>
<hr />
<p>The RIT Bikeshare website is administered by Student Government. if you have any questions or comments, please contact: </p>

<address>
    <strong>Email:</strong>   <a href="mailto:sgsvcs@rit.edu">SG Director of Services</a><br />
</address>