
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign up for the Bike Share!</h2>
<div class="row">
    <div class="col-md-4"><div class="list-group">
    <a href="#Benefits" class="list-group-item">
        Benefits
    </a>
    <a href="#Process" class="list-group-item">Process</a>
    <a href="#FAQ" class="list-group-item">FAQ</a>
</div></div>
    <div class="col-md-8">
        <a name="Benefits"></a> 
        <h3>Benefits</h3>
        <div>Every day, your users have feedback you can use to improve your organization, but its not always easy to get it. 
        By deploying this service, you can get easy access to all of your users feedback. Your users feel heard, your service improves, and everyone wins.</div>
        <a name="Process"></a> 
        <h3>Process</h3>
        <div>The process for registering an organization depends on the administrators of this site, so contact them directly.</div>
        <a name="FAQ"></a> 
        <h3>FAQ</h3>
    </div>
</div>


