
@{
    ViewBag.Title = "Safety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_HomeMenuPartial")
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<p>Student Government encourages to always ride safely. More safety information coming soon.</p>
