
@{
    ViewBag.Title = "Safety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menuSection{
    @Html.Partial("_HomeMenuPartial")
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<p>Student Government encourages you to always ride safely. Included below are links to several bike safety resources. </p>

<p><a class="btn btn-primary" href="http://www.safeny.ny.gov/media/share-road.htm">New York State</a>
    <a class="btn btn-primary" href="http://www.rochestercyclingalliance.org/wp-content/uploads/2012/10/Bike-Safety-English-final-July-17-2012.pdf">Rochester Cyclng Alliance</a>
    <a class="btn btn-primary" href="http://www.bikeleague.org/content/ride-better-tips">League of American Bicyclists</a></p>
