<div class="list-group">
    @Html.ActionLink("Bikes", "bikeListing", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Bike Racks", "rackListing", new { }, new { @class = "list-group-item" })
    @if (User.Identity.IsAuthenticated)
            {
        @Html.ActionLink("My Profile", "Index", new { }, new { @class = "list-group-item active" })
            }
</div>