<div class="list-group hidden-xs">
    @Html.ActionLink("Bike Racks", "rackListing", new { }, new { @class = "list-group-item" })
    @if (User.Identity.IsAuthenticated)
            {
        @Html.ActionLink("My Account", "Index", new { }, new { @class = "list-group-item active" })
            }
</div>