<footer class="footer">
    <div class="footer-left col-lg-6 col-md-6 col-sm-6">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4">
            <p class="footer-subtitle">
                About
            </p>
            <p style="font-size: 20px;">
                RIT Bikeshare is a free service for students to rent bikes for 24 hours.
            </p>
            <p style="font-size: 15px;">
                <a href="https://sg.rit.edu/">
                    &copy;&nbsp;&nbsp; Student Government 2014.
                </a>
                <br>
                <a href="https://github.com/nathancastle/bikeshare">
                    <span class="glyphicon glyphicon-link"></span>
                    Available on GitHub.
                </a>
            </p>
        </div>
    </div>
    <div class="footer-right col-lg-6 col-md-6 col-sm-6">
        <div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-1">
            <p class="footer-subtitle">
                Learn More
            </p>
            <p>
                <a href="@Url.Action("About", "Home")">About Bikeshare</a>
                <br>
                <a href="@Url.Action("Safety", "Home")">Safety</a>
                <br>
                <a href="@Url.Action("FAQ", "Home")">FAQ</a>
                <br>
                <a href="@Url.Action("Contact", "Home")">Contact</a>
            </p>
        </div>
        <div class="col-sm-3 footer-count">
            <div class="footer-subtitle">
                Other Services
            </div>
            <p>
                <a href="https://pawprints.rit.edu/">PawPrints</a>
                <br>
                <a href="http://vote.rit.edu">Voting</a>
                <br>
                <a href="https://sg.rit.edu/afafs">Funding</a>
                <br>
                <a href="https://sg.rit.edu/services">All Services</a>
            </p>
        </div>
    </div>
</footer>
