<footer class="footer">
    <div id="top" style="background-color: #515151; color:white; padding-top:15px;" class="hidden-xs">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 hidden-sm" id="logo">
                    <img src="~/Content/Images/sg_web.svg" height="75" class="pull-left" style="vertical-align: middle" />
                </div>
                <div class="col-sm-2" id="menu">
                    <ul class="list-unstyled">
                        <li><a href="https://sg.rit.edu" style="color:white;">RIT Student Government</a></li>
                        <li><a href="https://sg.rit.edu/aboutus" style="color:white;">About Us</a></li>
                        <li><a href="https://sg.rit.edu/services" style="color:white;">Services We Offer</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 hidden-xs" id="address">
                    <ul class="list-unstyled">
                        <li>Campus Center</li>
                        <li>Building 03 - Room 1710</li>
                        <li>(585) 475 - 4043</li>
                        <li><a href="mailto:sgsvcs@rit.edu" style="color:white;">Contact Us!</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-sm-offset-2 col-xs-offset-1 col-xs-5">
                    <ul class="list-unstyled">
                        <li><a href="http://www.rit.edu" style="color:white;">Rochester Institute of Technology</a></li>
                        <li><a href="http://www.rit.edu/privacystatement.html" style="color:white;">Privacy Statement</a></li>
                        <li><a href="http://www.rit.edu/copyright.html" style="color:white;">Copyright Infringement</a></li>
                        <li><a href="http://www.rit.edu/disclaimer.html" style="color:white;">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div id="bottom" style="background-color: #707070">
        <div class="container" style="color:white;">
            &copy; @DateTime.Now.Year - <a href="https://sg.rit.edu/" style="color:white;">RIT Student Government</a> -
            <a href="https://github.com/NathanCastle/BikeShare" style="color:white;"><span class="glyphicon glyphicon-link"></span> Available on GitHub</a> -
            <a href="@Url.Action(actionName: "License", controllerName: "Home")" style="color:white;"><span class="glyphicon glyphicon-briefcase"></span>  License Notices</a>
        </div>
        
    </div>
</footer>
                        
                        
                        
                 