<div class="list-group">
    @Html.ActionLink("About", "About", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Safety", "Safety", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("FAQ", "FAQ", new { }, new { @class = "list-group-item" })
</div>