<div class="list-group">
    @Html.ActionLink("Home", "Index", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("See all Bikes", "bikeListing", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("My Activity", "myActivity", new { }, new { @class = "list-group-item" })
</div>