@model IEnumerable<BikeShare.Models.BikeRack>

@{
    ViewBag.Title = "Select Checkout Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="glyphicon glyphicon-check"></span> @ViewBag.Title</h2>
@foreach (var card in Model)
{

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">@card.name</h4></div>
        <div class="panel-body"></div>
        <div class="text-right panel-footer">
            <a class="btn btn-primary" href="@Url.Action(actionName: "Index", controllerName: "Checkout", routeValues: new { rackId = card.bikeRackId })"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Go</a>
        </div>
    </div>
}

