.email-arrow {
  background-color: #333333;
  border: 0;
  color: #999;
  top: 0;
}

.footer {
  color: #eeeeee;
  height: 280px;
}

.footer a {
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 600;
}

.footer-left, .footer-right {
  padding: 30px 0;
  height: 280px;
  }


.footer-left {
  background: #333333;
}

.footer-right {
  background: #4d4d4d;
}

.footer-subtitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
}
.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modal-login {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 37%;
    right: 0;
    max-width: 300px;
}