<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ldapServers>
    <ldapServer value="ldap.rit.edu" default="true">
      <url value="LDAP://main.ad.rit.edu" />
      <username value="" />
      <password value="" />
      <authenticationTypes>
        <authenticationType value="None" />
      </authenticationTypes>
      <timeLimit value="5" />
      <sizeLimit value="100" />
      <pageSize value="0" />
      <virtualListViewSupport value="true" />
      <propertySortingSupport value="true" />
      <rangeRetrievalSupport value="true" />
      <allowWildcardSearch value="true" />
      <users>
        <base value="ou=Users,ou=RITusers,dc=main,dc=ad,dc=rit,dc=edu" />
        <filter value="(objectClass=user)" />
        <rdnAttribute value="name" />
        <nameType value="cn" />
        <!--<membershipAttribute value="memberOf" />
        <emailAttribute value="mail" />
        <descriptionAttribute value="cn" />
        <creationDateAttribute value="whenCreated" />
        <lastLoginDateAttribute value="lastLogon" />
        <lastPasswordChangedDateAttribute value="pwdLastSet" />
        <attributes>
          <attribute value="givenName" />
          <attribute value="sn" />
          <attribute value="title" excludeFromNameSearch="true" />
        </attributes>
        <membershipUserWrappingEnabled value="true" />-->
      </users>
      <!--<groups>
        <base value="ou=groups,dc=main,dc=ad,dc=rit,dc=edu" />
        <filter value="(objectClass=groupOfNames)" />
        <rdnAttribute value="cn" />
        <membershipAttribute value="member" />
        <nameType value="cn" />
      </groups>-->
    </ldapServer>
  </ldapServers>
</configuration>