@{
    ViewBag.Title = "Explore!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Sign up Today!</h1>
    </div>
    <div class="col-md-4 bg-info text-center">
        <p>its free</p>
    </div>
    <div class="col-md-4 bg-primary text-center">
        <p>Its fun</p>
    </div>
    <div class="col-md-4 bg-info text-center">
        <p>Its easy</p>
    </div>
    <div class="col-md-12 text-center">
        <a href="#" class="btn btn-primary btn-lg">Sign up Now!</a>
    </div>
</div>
