@using BikeShare.Models.ViewModel
@model BikeShare.Models.ViewModel.Mail.NewOrgViewModel
<h1>Congratulations! @Model.newOrg.name is now part of Send a Smile!</h1>
<h2>Login to Explore</h2>
<p>Just log in with your LDAP id and you'll be able to get started making feedback locations and getting the information you need.</p>