@using BikeShare.Models.ViewModel
@model BikeShare.Models.ViewModel.Mail.NewSuperViewModel
<h1>Send a Smile - New Admin User</h1>
<p>@Model.name has been given administrative privileges for Send a Smile.</p>
